@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}


/*  BG GRADIENTS   */

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  background: linear-gradient(to right,
      #434343,
      #000000);
}

.orange-gradient {
  background: #f78c0a;
  background: linear-gradient(-90deg, #f78c0a 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #f78c0a 0%,
      rgba(60, 51, 80, 0) 100%);
}

.border-orange-gradient {
  background: linear-gradient(90.13deg, #170a3d 1.9%, #f78c0a 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #ffc83d 1.9%, #f78c0a 97.5%);
}


/*  TEXT GRADIENTS   */

.green-text-gradient {
  background: #11998e;


  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);


  background: linear-gradient(to top,
      #11998e,
      #38ef7d);


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {


  background: #56ccf2;


  background: -webkit-linear-gradient(to top,
      #2f80ed,
      #56ccf2);


  background: linear-gradient(to top,
      #2f80ed,
      #56ccf2);


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;


  background: -webkit-linear-gradient(to top,
      #ec008c,
      #fc6767);


  background: linear-gradient(to top,
      #ec008c,
      #fc6767);


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-text-gradient {
  background: #ffcc00;


  background: -webkit-linear-gradient(to top,
      #ffcc00,
      #fffb80);
  background: linear-gradient(to top,
      #ffcc00,
      #fffb80);


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}